html,
body {
    height: 100%;
    width: 100%;
}

.app-container {
    height: 100%;
    width: 100%;
    padding-top: $header-spacer;
    padding-bottom: $footer-spacer;
    -webkit-transition: background-color 85ms linear;
    -moz-transition: background-color 85ms linear;
    -o-transition: background-color 85ms linear;
    -ms-transition: background-color 85ms linear;
    transition: background-color 85ms linear;
    &.simple {
        .masthead {
            background-color: $brand-primary;
        }
        .footer {
            background-color: #f9f9f9;
            border-top: .05rem solid #e5e5e5;
            color: #999;
            a {
                color: $brand-primary;
            }
        }
    }
    &.dark {
        background-color: $gray-dark;
        color: $color-light;
    }
    &.blue {
        background-color: $brand-primary;
        color: $color-light;
    }
}