.desk-container {
    .card {
        background-color: $card-cap-bg;
    }
    .desk {
        .card-header {
            border-bottom: 0;
            background: inherit;
        }
        .card-block {
            display: block;
            background: inherit;
            padding: .5rem;
        }
        .card-block-new {
            padding-top: 0;
            textarea.card-details-edit {
                resize: none;
                margin-bottom: .5rem;
            }
            .btn {
                margin-right: .5rem;
            }
            .close {
                float: none;
            }
        }
        .card-footer {
            background: inherit;
            color: inherit;
        }
    }
    .desk-new {
        cursor: pointer;
        -webkit-transition: background-color 85ms ease-in-out;
        transition: background-color 85ms ease-in-out;
        color: #fff;
        &.nactive {
            background: rgba(0, 0, 0, .12);
            color: inherit;
            &:hover,
            &:focus,
            &:active {
                background: rgba(0, 0, 0, .2);
                text-decoration: none;
            }
        }
        .desk-new-title {
            padding: .4rem;
            padding-left: .5rem;
            color: rgba(255, 255, 255, .9);
            -webkit-transition: color 85ms ease-in;
            transition: color 85ms ease-in;
        }
        .desk-new-form {
            .desk-new-input-title {
                margin-bottom: .5rem;
                padding: .5rem;
                -webkit-transition: margin 85ms ease-in, background 85ms ease-in;
                transition: margin 85ms ease-in, background 85ms ease-in;
            }
            .desk-new-actions {
                -webkit-transition: margin 85ms ease-in, height 85ms ease-in;
                transition: margin 85ms ease-in, height 85ms ease-in;
            }
            .btn {
                margin-right: .5rem;
            }
            .close {
                float: none;
            }
        }
    }
    &.gu-transit {
        .desk {
            // opacity: 0.5;
            // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            // filter: alpha(opacity=50);
            background-color: #ccc;
            color: #ccc;
            .card-details {
                background-color: inherit;
                color: inherit;
                border-color: #ccc;
            }
        }
    }
}