.masthead {
    -webkit-transition: background-color 85ms linear;
    -moz-transition: background-color 85ms linear;
    -o-transition: background-color 85ms linear;
    -ms-transition: background-color 85ms linear;
    transition: background-color 85ms linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .15);
    color: $color-light;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    .brand {
        .brand-img {
            height: 30px;
        }
        &:active {
            position: relative;
            top: 1px;
        }
    }
}

.nav-link {
    position: relative;
    padding: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, .6);
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}


/* Active state gets a caret at the bottom */

.nav-link.active {
    color: #fff;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}