<div class="masthead">
    <div class="container">
        <div class="row flex-items-xs-middle">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-xs-center">
                <a class="brand" [routerLink]="['/cabinet']">
                    <!-- <img class="img-fluid brand-img" src="/static/img/logo.png"/> -->
                    <img class="img-fluid brand-img" src="{{ 'assets/img/logo.png' }}"/>
                </a>
            </div>
            <div class="col-xs-4 flex-xs-top">
                <template [ngIf]="profile">
                    <div ngbDropdown class="float-xs-right d-inline-block">
                    <a href="javascript:void(0);" class="nav-link" id="dropdownMenu2" ngbDropdownToggle><i class="fa fa-user"></i> {{profile.login}}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <a [routerLink]="['/cabinet']" class="dropdown-item">Cabinet</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" (click)="logout()" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </template>
                <template [ngIf]="!profile">
                    <a [routerLink]="['/signup']" class="nav-link float-xs-right"><i class="fa fa-user-plus"></i> Sign up</a>
                    <a [routerLink]="['/signin']" class="nav-link float-xs-right"><i class="fa fa-sign-in"></i> Login</a>
                </template>
            </div>
        </div>
    </div>
</div>