$enable-flex: true;

$body-bg: #f5f8fa;
$color-light: #fff;

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #777;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #3097d1;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-inverse:             $gray-dark;

// Fonts
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-root: 14px;

// Forms
$custom-control-checked-indicator-bg:         $brand-primary;
$custom-control-focus-indicator-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $brand-primary;

// Fa
$icon-color: #9da9b0;

// Header
$header-margin: 2rem;

// Cards
$card-spacer-y: .5rem;
$card-spacer-x: .75rem;

// Card list
$card-list-margin-x: 1rem;
