<div class="container container-fxy container-top pb-3">
    <div class="row m-0 mb-1 board-card-list-header">
        <div class="col-xs-12" *ngIf="board">
            <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary">{{board.title}}</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-star"></i></a>
            <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-lock"></i> private</a>

            <div ngbDropdown class="d-inline-block pull-right">
                <button type="button" class="btn btn-sm btn-outline-primary btn-menu" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:void(0);" class="dropdown-item" (click)="deleteBoard()"><i class="fa fa-trash"></i> Delete board</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 board-card-list flex-nw px-1" [dragula]='"bag-desk"' [dragulaModel]='desks'>
        <desk-component class="desk-container" (deleteDesk)="deleteDesk($event)" [desk]="desk" *ngFor="let desk of desks"></desk-component>

        <div class="desk-container">
            <div class="card desk desk-new flex-xs-top" (clickOutside)="closeAddDeskArea()">
                <div class="card-block" [ngClass]="{nactive: !addDeskShown}">
                    <div class="desk-new-title" (click)="showAddDeskArea(desk_title)" [hidden]="addDeskShown">Add a desk...</div>
                    <form class="desk-new-form" [hidden]="!addDeskShown">
                        <input #desk_title name="desk-title" [(ngModel)]="eDesk.title" class="form-control desk-new-input-title" placeholder="Add a desk..."
                        />
                        <div class="desk-new-actions">
                            <button class="btn btn-sm btn-success" (click)="addDesk()"><i class="fa fa-save"></i> Save</button>
                            <button type="button" class="btn btn-sm close" aria-label="Close" (click)="closeAddDeskArea()"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 
<template #newDesk let-c="close" let-d="dismiss">
    <form (submit)="addDesk(title.value)">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Create list</h5>
        </div>
        <div class="modal-body">
            <div class="form-group form-control-default">
                <label for="form-add-title">Title</label>
                <input #title type="text" class="form-control" id="form-add-title" placeholder="Enter list title...">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="d('Close click')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Create</button>
        </div>
    </form>
</template>

-->