<div class="card desk">
    <div class="card-header">
        {{desk.title}}
        <div ngbDropdown class="d-inline-block pull-right">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled">Something else is here</button>
            </div>
        </div>
    </div>
    <div class="card-block" [dragula]='"bag-one"' *ngIf="desk.cards && desk.cards.length > 0">
        <a href="javascript:void(0);" class="card-details" *ngFor="let item of desk.cards">
            {{item.title}}
        </a>
    </div>
    <a href="javascript:void(0);" (click)="openModal(newCard)" class="card-footer">
        Add a card...
    </a>
</div>

<template #newCard let-c="close" let-d="dismiss">
    <form (submit)="addCard(title.value)">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Create card</h5>
        </div>
        <div class="modal-body">
            <div class="form-group form-control-default">
                <label for="form-add-title">Title</label>
                <input #title type="text" class="form-control" id="form-add-title" placeholder="Enter card title...">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="d('Close click')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Create</button>
        </div>
    </form>
</template>