<div class="card desk">
    <div class="card-header">
        Common
        <div ngbDropdown class="d-inline-block pull-right">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled">Something else is here</button>
            </div>
        </div>
    </div>
    <div class="card-block" [dragula]='"bag-one"'>
        <a href="javascript:void(0);" class="card-details">
            Добавьте участников на доску (при помощи бокового меню) для совместной работы, общего доступа и обсуждений.
        </a>
        <a href="javascript:void(0);" class="card-details">
            Добавьте участников на доску (при помощи бокового меню) для совместной работы, общего доступа и обсуждений.
        </a>
        <a href="javascript:void(0);" class="card-details">
            Добавьте участников на доску (при помощи бокового меню) для совместной работы, общего доступа и обсуждений.
        </a>
    </div>
    <a href="javascript:void(0);" class="card-footer">
        Add a card...
    </a>
</div>