<div class="card desk">
    <div class="card-header">
        {{desk.title}}
        <div ngbDropdown class="d-inline-block pull-right">
            <button type="button" class="btn btn-sm btn-outline-secondary" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0);" class="dropdown-item" (click)="showAddArea(title)"><i class="fa fa-plus"></i> Add card</a>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0);" class="dropdown-item" (click)="_deleteDesk()"><i class="fa fa-trash"></i> Delete desk</a>
            </div>
        </div>
    </div>
    <div class="card-block" [dragula]='"bag-card"' [dragulaModel]='desk.cards' data-id="{{desk.id}}">
        <a href="javascript:void(0);" class="card-details" *ngFor="let item of desk.cards">
            {{item.title}}
            <div ngbDropdown #drop="ngbDropdown" class="d-inline-block pull-right">
                <button type="button" class="btn btn-sm btn-outline-secondary card-details-delete" [ngClass]="{open: drop.isOpen()}" ngbDropdownToggle><i class="fa fa-pencil"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:void(0);" class="dropdown-item"><i class="fa fa-pencil"></i> Edit card</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item" (click)="deleteCard(item.id)"><i class="fa fa-trash"></i> Delete card</a>
                </div>
            </div>
        </a>
    </div>
    <div class="card-block card-block-new" [hidden]="!addAreaShown">
        <textarea #title name="card-title" [(ngModel)]="eCard.title" (keydown.enter)="addCard()" class="form-control card-details-edit"></textarea>
        <button class="btn btn-sm btn-success" (click)="addCard()"><i class="fa fa-plus"></i> Add</button>
        <button type="button" class="btn btn-sm close" aria-label="Close" (click)="closeAddArea()"><span aria-hidden="true">&times;</span></button>
    </div>
    <a [hidden]="addAreaShown" href="javascript:void(0);" (click)="showAddArea(title)" class="card-footer">Add a card...</a>
</div>

<!--
<template #newCardModal let-c="close" let-d="dismiss">
    <form (submit)="addCard(title.value)">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Create card</h5>
        </div>
        <div class="modal-body">
            <div class="form-group form-control-default">
                <label for="form-add-title">Title</label>
                <input #title type="text" class="form-control" id="form-add-title" placeholder="Enter card title...">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="d('Close click')">Cancel</button>
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Create</button>
        </div>
    </form>
</template>
-->