<div class="container">
  <form class="form-signin" (submit)="signin(username.value, password.value)" (keyup.enter)="signin(username.value, password.value)">
    <h3 class="form-signin-heading">Please sign in</h3>

    <div class="form-group" [ngClass]="{'has-danger': error}">
      <label for="username" class="sr-only">Username</label>
      <input type="text" #username class="form-control username form-control-danger" id="username" placeholder="Username" autofocus>

      <label for="password" class="sr-only">Password</label>
      <input type="password" #password class="form-control password form-control-danger" id="password" placeholder="Password" required>

      <div class="form-control-feedback" *ngIf="error">{{error.message}}</div>
    </div>


    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Submit</button>
  </form>

</div>