<div class="container">
  <form class="form-signin" action="/signin" method="POST">
    <h3 class="form-signin-heading">Please sign in</h3>

    <label for="username" class="sr-only">Username</label>
    <input type="text" #username class="form-control username" id="username" placeholder="Username" autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" #password class="form-control password" id="password" placeholder="Password" required>

    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Submit</button>
  </form>

</div>