<div class="masthead">
    <div class="container">
        <div class="row flex-items-xs-middle">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-xs-center">
                <a class="brand" href="/">
                    <img class="img-fluid brand-img" src="/static/img/logo.png"/>
                </a>
            </div>
            <div class="col-xs-4">
                [[if .isLogged]]
                    <div class="dropdown pull-right">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/cabinet"><i class="fa fa-cogs"></i></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="signout"><i class="fa fa-sign-out"></i></a>
                        </div>
                    </div>
                [[else]]
                    <div class="pull-right">
                        <a href="/signup" class="nav-link 
                        [[if eq .menu "signup"]] 
                            active 
                        [[end]] pull-xs-right"><i class="fa fa-user-plus"></i></a>
                        <a href="/signin" class="nav-link
                        [[if eq .menu "signin"]] 
                            active 
                        [[end]] pull-xs-right"><i class="fa fa-sign-in"></i></a>
                    </div>
                [[end]]
            </div>
        </div>
    </div>
</div>
