<!DOCTYPE html>
<html lang="en">
<head>
  <title>TODO</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="icon" type="image/png" href="/static/favicon.ico" />
  <link type="text/css" rel="stylesheet" href="/static/css/app.min.css" />

  <base href="/">
</head>

<body>
  [[template "layout/header.html" .]]
  [[.LayoutContent]]
  <app>Загрузка...</app>
  [[template "layout/footer.html" .]]
</body>

<script src="/static/libs/core-js/client/shim.min.js"></script>
<script src="/static/libs/zone.js/dist/zone.js"></script>
<script src="/static/libs/reflect-metadata/Reflect.js"></script>
<script src="/static/libs/systemjs/dist/system.src.js"></script>
<script src="/static/systemjs.config.js"></script>

<script>
  System.import('app').catch(function(err){ console.error(err); });
  APP = {
    xsrf: null
  };
  APP.xsrf = [[.xsrf]];
</script>

</html>
